<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="text-center">
    <h1>
      {{ title }}
    </h1>

  </div>

  <div class="form-group row">
    <div class="col">
      <input #file type="file" multiple (change)="upload(file.files)" />
      <br/>
      <span class="text-info" *ngIf="progress">
        uploading........
      </span>

      <span class="text-success" *ngIf="message">
        {{message}}
      </span>
      <span class="text-danger">
        {{invalidFile}}
      </span>

    </div>
    <div class="col padder">
      <a class="btn btn-primary" href="#" (click)="refreshPage($event)">
        <i class="fa fa-refresh"></i>
        Refresh
      </a>
    </div>
  </div>

  <p-table #dt [columns]="rowHeader" [value]="reportData" selectionMode="single" sortMode="multiple" (onRowSelect)="onRowSelect($event)"
    [multiSortMeta]="multiSortMeta" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
      Report Data
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      There are {{reportData?.length}} records
    </ng-template>
  </p-table>
</div>